header {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 16px;

    h1 {
      display: flex;
      flex-direction: column;
      font-weight: 900;
      letter-spacing: 1px;
    }

    span {
      color: #4F86F9;
    }

    .slogan {
      font-size: 11px;
      color: #A6A6A6;
      font-weight: 400;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 50px;

      .link {
        color: black;
      }
    }
  }
}