#topNavbar {
  background-color: #052F48;
  color: #74A2B6;
  font-size: 14px;
  padding: 5px 0;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }

  .wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .boxes {
    display: flex;
    align-items: center;
    gap: 5px;

    .box {
      background-color: #4F86F9;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}